# Ignore vim generated swap files
*.swp
*.un~
npm-debug.log
node_modules
morning-routine-cli/*
tiny.env
tags
.DS_Store

wtf/client_secret.json

zsh/priv-env
spacebar/spacebarrc
spacebar/spacebarrc
nvim/lua/color.lua
kitty.conf
tmux.conf
utilities/diary.text
